<div class="p-4">
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Año</th>
      <th scope="col">RFC</th>
      <th scope="col">Nombre</th>
      <th scope="col">Dependencia</th>
    </tr>
  </thead>
  <tbody>
  {{#each dato}}
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{ejercicioFiscal}}</td>
      <td>{{rfc}}</td>
      <td>{{nombres}}</td>
      <td>{{institucionDependencia.nombre}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
</div>